<?xml version="1.0"?>
<config>
  <default>
    <gallerymedia>
      <general>
        <enabled>1</enabled>
        <allow_guest_review>0</allow_guest_review>
        <media_per_page_values>4,8,12,16,20</media_per_page_values>
        <media_list_allow_all>0</media_list_allow_all>
      </general>
      <album_media_setting>
        <show_title>1</show_title>
        <show_description>1</show_description>
        <album_featured>1</album_featured>
        <album_thumb_image_size>120,120</album_thumb_image_size>
        <show_updated_date>1</show_updated_date>
      </album_media_setting>
      <media_setting>
        <media_box_size>180,180</media_box_size>
        <preview_video>1</preview_video>
        <show_title>1</show_title>
        <show_description>1</show_description>
        <show_updated_date>1</show_updated_date>
      </media_setting>
    </gallerymedia>
  </default>
  <modules>
    <Magebuzz_Gallerymedia>
      <version>0.1.7</version>
    </Magebuzz_Gallerymedia>
  </modules>
  <frontend>
    <secure_url>
      <gallerymedia>/gallerymedia/</gallerymedia>
    </secure_url>
    <routers>
      <gallerymedia>
        <use>standard</use>
        <args>
          <module>Magebuzz_Gallerymedia</module>
          <frontName>gallerymedia</frontName>
        </args>
      </gallerymedia>
    </routers>
    <layout>
      <updates>
        <gallerymedia>
          <file>gallerymedia.xml</file>
        </gallerymedia>
      </updates>
    </layout>
  </frontend>
  <admin>
    <routers>
      <adminhtml>
        <use>admin</use>
        <args>
          <modules>
						<Magebuzz_Gallerymedia after="Mage_Adminhtml">Magebuzz_Gallerymedia_Adminhtml</Magebuzz_Gallerymedia>
					</modules>          
        </args>
      </adminhtml>
    </routers>
  </admin>
  <adminhtml>
    <layout>
      <updates>
        <gallerymedia>
          <file>gallerymedia.xml</file>
        </gallerymedia>
      </updates>
    </layout>
  </adminhtml>
  <global>
    <models>
      <gallerymedia>
        <class>Magebuzz_Gallerymedia_Model</class>
        <resourceModel>gallerymedia_mysql4</resourceModel>
      </gallerymedia>
      <gallerymedia_mysql4>
        <class>Magebuzz_Gallerymedia_Model_Mysql4</class>
        <entities>
          <galleryalbums>
            <table>gallery_media_album</table>
          </galleryalbums>
          <galleryitems>
            <table>gallery_media_item</table>
          </galleryitems>
          <galleryalbummedia>
            <table>gallery_album_entity_item</table>
          </galleryalbummedia>
          <reviews>
            <table>gallery_item_reviews</table>
          </reviews>
        </entities>
      </gallerymedia_mysql4>
    </models>
    <resources>
      <gallerymedia_setup>
        <setup>
          <module>Magebuzz_Gallerymedia</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </gallerymedia_setup>
      <gallerymedia_write>
        <connection>
          <use>core_write</use>
        </connection>
      </gallerymedia_write>
      <gallerymedia_read>
        <connection>
          <use>core_read</use>
        </connection>
      </gallerymedia_read>
    </resources>
    <blocks>
      <gallerymedia>
        <class>Magebuzz_Gallerymedia_Block</class>
      </gallerymedia>
    </blocks>
    <helpers>
      <gallerymedia>
        <class>Magebuzz_Gallerymedia_Helper</class>
      </gallerymedia>
    </helpers>
    <template>
      <email>
        <gallerymedia_general_email_template>
          <label>Title Email</label>
          <file>gallerymedia_example.html</file>
          <type>html</type>
        </gallerymedia_general_email_template>
      </email>
    </template>
  </global>
  <default>
    <gallerymedia>
      <media_setting>
        <media_box_size>150,150</media_box_size>
        <preview_video>0</preview_video>
        <show_title>1</show_title>
        <show_description>1</show_description>
        <show_updated_date>0</show_updated_date>
        <show_social_buttons>0</show_social_buttons>
      </media_setting>
    </gallerymedia>
  </default>
  <translate>
    <modules>
      <Magebuzz_Gallerymedia>
        <files>
          <default>Magebuzz_Gallerymedia.csv</default>
        </files>
      </Magebuzz_Gallerymedia>
    </modules>
  </translate>
</config>